Repository mxttwoods/blog, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, gatsby, source, github, dependencies

.github/labeler.yml:

# @format

# Add 'repo' label to any root file changes
repo:
  - './*'

# Add 'gatsby' label to any change to src files within the source dir EXCEPT for the docs sub-folder
gatsby:
  - '**/*'

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
source:
  - 'src/**/*'

# Add 'github' label to any change to src files within the source dir EXCEPT for the docs sub-folder
github:
  - '.github/**/*'

# Add 'dependencies' label to any change to src files within the source dir EXCEPT for the docs sub-folder
dependencies:
  - 'package*.json'

style(utility.css): add monospace font
  src/utility.css
Labels: gatsby, source

styling(index.css): cleanup comments
  src/index.css
Labels: gatsby, source

styling(gatsby-node.js): clean up comment
  gatsby-node.js
Labels: repo, gatsby

docs: update license path
  README.md
Labels: repo, gatsby

build: add .tsx
  gatsby-node.js
  package.json
  src/components/bio.tsx
  src/components/layout.tsx
  src/components/seo.tsx
  src/pages/404.tsx
  src/pages/index.tsx
  src/templates/blog-post.tsx
  yarn.lock
Labels: repo, gatsby, source, dependencies

build: init devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Labels: gatsby

chore(deps): lock file maintenance
  yarn.lock
Labels: repo, gatsby

fix: update deps
  package.json
  yarn.lock
Labels: repo, gatsby, dependencies

fix(deps): roll back dependency gatsby-plugin-sharp to ^3.2.0-next
  package.json
  yarn.lock
Labels: repo, gatsby, dependencies

style: change prettier rules
  .devcontainer/devcontainer.json
  .prettierrc
  NOTES.md
  commitlint.config.js
  content/blog/pubsub/index.md
  gatsby-browser.js
  gatsby-config.js
  gatsby-node.js
  src/components/bio.tsx
  src/components/layout.tsx
  src/components/seo.tsx
  src/pages/404.tsx
  src/pages/index.tsx
  src/templates/blog-post.tsx
Labels: repo, gatsby, source

feat: roll ver
  package.json
Labels: repo, gatsby, dependencies

fix: postinstall -> prepare
  package.json
Labels: repo, gatsby, dependencies

chore(deps): lock file maintenance
  yarn.lock
Labels: repo, gatsby

chore(deps): lock file maintenance
  yarn.lock
Labels: repo, gatsby

chore(deps): lock file maintenance
  yarn.lock
Labels: repo, gatsby

chore(deps): lock file maintenance
  yarn.lock
Labels: repo, gatsby
